@model WorkerViewModel
@{
    ViewData["Title"] = "Worker";
}
<script>
    function ShowModal() {
        $(document).ready(function () {
            $('.nav-link').click(function (e) {
                e.preventDefault(); // Prevent default anchor tag behavior
                $('#infoModal').modal('show'); // Show the modal
            });
        });
    }
</script>

<table class="table table-striped">
    <thead class="bg-primary">
        <tr class="text-white">
            <th  scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Profile</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Date Of Hiring</th>
            <th scope="col">Vacations</th>
            <th scope="col">Shifts Avg.</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 1; i <= Model.Employees.Count; i++)
        {
            <tr>
                <th scope="row">@Model.Employees[i].Id</th>
                <td>@Model.Employees[i].Name</td>
                <td>@Model.Employees[i].Surname</td>
                <td>@Model.Employees[i].Profile.ToString()</td>
                <td>@Model.Employees[i].DateOfBirth</td>
                <td>@Model.Employees[i].DateOfHiring</td>
                <td><a class="nav-link" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#infoModal">View</a></td>
                <td>@Model.Employees[i].ShiftAverage</td>
            </tr>
        }
    </tbody>
</table>

<!-- MODAL FORM-->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">NOME DEL LAVORATORE CLICCATO</h5>
            </div>
            <div class="modal-body">
                <p>Ferie di NOME</p>
                @foreach (EmployeeVacations vacation in Model.EmployeesVacations.Where(x=>x.IdEmployee == 0))
                {
                    <p>DA {@vacation.StartDate.ToString("d")} A {@vacation.EndDate.ToString("d")}</p>
                }            
                <button class="btn btn-primary mb-2" onclick="alert('Add')">Add Vacations</button>
                <button class="btn btn-danger mb-2" onclick="alert('Remove')">Remove vacations</button>
            </div>
        </div>
    </div>
</div>